*{
    box-sizing: border-box;
}

.empty-container{
    width: 100%;
    display: flex;
    position: relative;
}

.socbar{
    margin-top:2%;
    margin-left: 50px;
    width: 90%;
    height: 60px;
    background:  #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 3px 3px 0px 0px;
opacity: 1;
display: flex;
}

.socbar .socline{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    /* font: normal normal 600 14px/40px Open Sans; */
letter-spacing: 0px;
color: #1E2022;
text-transform: capitalize;
opacity: 1;
}

.socbar .sline2{
    margin-left: 68%;
}
.socbar .socbox{
    margin-left: 75%;
    width: 15%;
    height: 43px;
    border-bottom: 1px solid green;
}

.soimglogo{
    /* padding-top: 8px; */
    margin: left 0;
}
.socbar  .socbox,.soimglogo:hover{
    height: 30px;
    cursor: pointer;
    transition: ease-in-out;
}
.socbar  .socbox:hover{
    height: 35px;
    cursor: pointer;
    transition: ease-in-out;
}


.newcreatebotton{
   
    position: absolute;
    margin-top: 15%;
    margin-left:45%
   
}

.newcreatebotton1{
   
    position: absolute;
   
    margin-left:65%
   
}
.newpara1{
    letter-spacing: 0px;
color: #222B45;
opacity: 0.5;
}
.scnbotton{
    margin-left: 15px;
    width: 110px;
    height: 30px;
    color:#5861AE ;
    background-color:#FFFFFF ;
    opacity: 1;
    border: 1px solid #5861AE;
border-radius: 4px;
cursor: pointer;
font-family: 'Open Sans';
font-weight: 600;
font-size: 14px;
}
.scnbotton:hover{
    color:#5861AE ;
    background-color:#FFFFFF ;
    border: 1px solid #5861AE;
border-radius: 4px;
}

.scnbotton1{
    margin-left: 15px;
    width: 110px;
    height: 30px;
    color:#5861AE ;
    background-color:#FFFFFF ;
    opacity: 1;
    border: 1px solid #5861AE;
border-radius: 4px;
cursor: pointer;
font-family: 'Open Sans';
font-weight: 600;
font-size: 14px;
}
.scnbotton:hover{
    color:#5861AE ;
    background-color:#FFFFFF ;
    border: 1px solid #5861AE;
border-radius: 4px;
}

.table-style{
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 3px 3px 0px 0px;
   
  
}

.table-header-style{
    height:50px;
    background: #383737 0% 0% no-repeat padding-box;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:12px;
    opacity: 1;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    /* justify-content: center; */
    vertical-align: middle;
}

.table-row-style{
    height:50px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
border: 1px solid #EAEDF0;
opacity: 1;  

font-family: 'Open Sans';
font-size:12px;
text-align: left;
}


.row-price{
    color: #5861AE;
    font-weight: bold;
   
}
/* .orderheader{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    color: #FFFFFF;
    background: #383737 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:12px;
    opacity: 1;
    display: inline-flex;
    flex-direction: row;
    row-gap: 3px;
    letter-spacing: 0px;
    text-align: left;
} */



/* .oh8{
    width:300px;
} */
